.card {
  margin: 20px;
  width: 18rem;
  background-color: #a6eb3724;
  border: 4px solid black;
  box-shadow: 6px 7px 36px #fffdfd;
  border-radius: 7%;

}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
  height: 6px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

h5 {
  color:white;
}

p {
  color: white;
}

btn {
  color:black;
}

.btn:hover {
  color:white;
}
