#logoHenry {
  margin-right: 20px;
  width: 7%;
}

.search {
  display: flex;
  justify-content: flex-end;
  margin-left: 600px;
  /*align-self: flex-end;*/

}

.navbar {
  background-color: #cfe93500;
  display: flex;
}

a {
  display: flex;
  color:rgb(0, 0, 0);
  margin-right: 2px;
}

input, button {
  color:black;
}

